In [8]:
import pandas as pd

In [9]:
df=pd.read_csv('data/final_score_detail.csv')

In [10]:
df

   Unnamed: 0  student_id    name  score result
0           0         201   Aarav   28.0   pass
1           1         202  Bhavna    1.5   fail
2           2         203  Chetan    5.5   fail
3           3         204    Diya   14.0   pass
4           4         205   Eshan    9.0   fail